@using Autopark.DAL.Entities;
@model Vehicle;
@{
	ViewData["Title"] = Model.Model + " " + Model.RegistrationNumber + " info:";
}
<h2>@ViewData["Title"]</h2>

<p>
	<form asp-action="GetInfo" asp-controller="Vehicle">
		<ul>
			<li>Type: @Model.Type.TypeName</li>

			<li>Model Name: @Model.Model</li>

			<li>Registration Number: @Model.RegistrationNumber</li>

			<li>Weight: @Model.Weight</li>

			<li>Manufacture Year: @Model.Year</li>

			<li>Mileage: @Model.MileAge km</li>

			<li>Color: @Model.Color</li>

			<li>Volume: @Model.Volume</li>

			<li>Fuel Consumption: @Model.FuelConsumption</li>

			<li>Road tax per month: @Model.GetCalcTaxPerMonth().ToString("0.00")</li>

			<li>Max kilometers @Model.GetMaxKilometers().ToString("0")</li>
		</ul>


	</form>
	<div>
		<button class="btn btn-primary btn-outline-dark">
			<a style="text-decoration: none; color: white" asp-controller="Vehicle" asp-action="Index">Back</a>
		</button>
	</div>
</p>
