
@{
	ViewData["Title"] = "Vehicle Types";
}

<h2>@ViewData["Title"]</h2>
<button type="submit" class="btn">
	<a asp-controller="VehicleType" asp-action="Create">
		Create vehicle type
	</a>
</button>

<br>
<table class="table table-hover">
    
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Coefficient of tax</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.VehicleTypeId</td>
            <td>@item.TypeName</td>
            <td>@item.TaxCoefficient</td>
            <td>
                <form method="post" asp-controller="VehicleType" asp-action="Delete" asp-route-id="@item.VehicleTypeId">
                    <button class="btn-danger" type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form method="post" asp-controller="VehicleType" asp-action="Edit" asp-route-id="@item.VehicleTypeId">
                    <button class="btn-warning" type="submit">Edit</button>
                </form>
            </td>
        </tr>
    }
</table>
