@using Autopark.DAL.Entities;
@model IEnumerable<Component>;
@{
	ViewData["Title"] = "Components";
}

<h2>@ViewData["Title"]</h2>

<br>
@if (Model.Any())
{
	<table class="table table-hover">

		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>

		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ComponentId</td>
				<td>@item.Name</td>
				<td>
					<form method="post" asp-controller="Component" asp-action="Delete" asp-route-id="@item.ComponentId">
						<button class="btn btn-danger" type="submit">Delete</button>
					</form>
				</td>
				<td>
					<form method="post" asp-controller="Component" asp-action="GetEditView" asp-route-id="@item.ComponentId">
						<button class="btn btn-warning" type="submit">Edit</button>
					</form>
				</td>
			</tr>
		}
	</table>
	<button type="submit" class="btn-success">
		<a asp-action="GetCreateView" asp-controller="Component" style="text-decoration: none; color:white">Create component</a>
	</button>
}
else
{
	<h3 class="">There are no any components in your data base. Click <a asp-action="GetCreateView" asp-controller="Component">here</a> to create first.</h3>
}


